@font-face {
  font-family: 'LiberationSerif-Regular';
  src:url('/LiberationSerif-Regular.ttf'); 
  font-weight: 400;
}
html body {
  font-family: 'LiberationSerif-Regular';
  font-size: 1.75em;
}
.full-height {
  height: 100vh;
}
.side-bar {
  background: #000;
  background-image: url('/SideBar.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 150px;
  position: fixed;
}
.side-bar-left {
  left: 0;
  top: 0;
}
.side-bar-right {
  right: 0;
  top: 0;
}
@media (min-width: 992px) {
  .container-content {
    margin: 0px 150px;
  }
}
.home-container {
  background: #000;
  background-image: url('/Homepage.jpg');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  height: 100vh;
}
.home-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 110px;
}
.container-row {
  width: 100%;
}
html .nav-link {
  text-transform: capitalize;
  color: #777;
  
}
html .nav-link.active {
  color: red;
}
.artist-list {
  list-style-type: none;
  width: 100%;
  text-align: center;
}
.artist-list li {
  cursor: pointer;
  vertical-align: bottom;
}
.artist-list li img {
  max-height: 100px;
}
.open-artist .artist-name {
  font-size: 2.2em;
  font-weight: bold;
}
.art-work {
  background-color: #000;
  text-align: center;
  position: relative;
  vertical-align: middle;
}
/* .art-work:hover::before {
  content: "";
  color: #fff;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  font-size: 3em;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
} */
.artwork img {
  width: 100%;
  position: relative;
}
html .btn.artwork-link {
  color: red;
  font-size: 1.5em;
}
.artist-overlay a {
  color: red;
}
.artist-overlay {
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  padding-top: 2em;
}
html .full-screen-modal {
  max-width: unset;
  width: 100vw;
  margin: 0;
}
html .full-screen-modal .modal-content {
  min-width: 40vw;
}
.artist-statement {
  font-size: 14px;
  padding: 0.125em;
 font-weight: 700;
}