@font-face {
  font-family: 'VenturisADFMath-Regular';
  src:url('/VenturisADFMath-Regular.ttf.woff') format('woff'),
      url('/VenturisADFMath-Regular.ttf.svg#VenturisADFMath-Regular') format('svg'),
      url('/VenturisADFMath-Regular.ttf.eot'),
      url('/VenturisADFMath-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

html body {
  font-family: 'VenturisADFMath-Regular';
  font-weight: 700;
  font-size: 2em
}

.full-height {
  height: 100vh;
}
.side-bar {
  background: #000;
  background-image: url('/SideBar.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 150px;
  position: fixed;
}
.side-bar-left {
  left: 0;
  top: 0;
}
.side-bar-right {
  right: 0;
  top: 0;
}
@media (min-width: 992px) {
  .container-content {
    margin: 0px 150px;
  }
}
.home-container {
  background: #000;
  background-image: url('/Homepage.jpg');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  height: 100vh;
}
.home-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 110px;
}
.container-row {
  width: 100%;
}
html .nav-link {
  text-transform: capitalize;
  color: #777;
  
}
html .nav-link.active {
  color: red;
}
.artist-list {
  list-style-type: none;
  width: 100%;
  text-align: center;
}
.artist-list li {
  cursor: pointer;
  vertical-align: bottom;
}
.artist-list li img {
  max-height: 100px;
}
.open-artist .artist-name {
  font-size: 2.2em;
  font-weight: bold;
  margin-top: 80px;
}
.art-work {
  background-color: #000;
  text-align: center;
  position: relative;
}
.art-work:hover::before {
  content: "";
  color: #fff;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  font-size: 3em;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
}
.art-work:hover::after {
  content: attr(data-artist);
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  color: #fff;
  font-size: 2em;
}
header.container-content {
  margin-top: 50px;
}