@font-face {
  font-family: 'LiberationSerif-Regular';
  src:url('/LiberationSerif-Regular.ttf'); 
  font-weight: 400;
}
html body {
  font-family: 'LiberationSerif-Regular';
  font-size: 1.75em;
  background-color: #000;
  scroll-snap-type: y mandatory;
}
.full-height {
  height: 100vh;
}
.side-bar {
  
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: middle;
  width: 150px;
   position: fixed;
}
.side-bar-left {
  background-image: url('/SideBar.jpg');
  left: 0;
  top: 0;
}
.side-bar-right {
  background-image: url('/SideBar2.png');
  right: 0;
  top: 0;
}
.home-container {
  background: #000;
  background-image: url('/landingpage.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position-x: right;
  color: yellow;
  font-family: 'LiberationSerif-Regular';
  font-size: 1em;
  background-color: #000;
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
}
.home-container img {
  width: auto;
  height: 100%;
}
.home-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 110px;
}
.container-row {
  width: 100%;
}
html .nav-link {
  text-transform: capitalize;
  color: #777;
  
}
html .nav-link.active {
  color: red;
}
.artist-list {
  list-style-type: none;
  width: 1%;
  text-align: center;
}
.artist-list li {
  cursor: pointer;
  vertical-align: bottom;
}
.artist-list li img {
  max-height: 100px;
}
.open-artist .artist-name {
  font-size: 2.2em;
  font-weight: bold;
}
.art-work {
  background-color: #000;
  text-align: center;
  position: center;
  vertical-align: center;
}
/* .art-work:hover::before {
  content: "";
  color: #fff;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  font-size: 3em;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
} */
.artwork img {
  width: 100%;
  position: relative;
}
html .btn.artwork-link {
  color: red;
  font-size: 0.75em;
  background-color: unset;
}
.artist-overlay a {
  color: red;
}
.artist-overlay {
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  display: table;
}
.artist-overlay-content {
  display: table-cell;
  vertical-align: middle;
}
html .full-screen-modal {
  max-width: unset;
  width: 100vw;
  margin: 0;
}
html .full-screen-modal .modal-content {
  min-width: 40vw;
}
.artist-statement {
  
  font-size: 18px;
  padding: 1em;
 font-weight: 700;
}
html .manifesto {
  background-color: black;
  color: yellow;
}
html .statement {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: yellow;
}
html .statement.bottom-statement {
  background-color: black;
}
.and-repose {
  width: 100%;
  text-align: right;
}
.and-repose img {
  max-width: 100%;
}
.artwork-stuck .artist-overlay {
  background-color: rgba(255, 255, 255, 0.0);
  color: #fff;
}
html .btn.explain-button {
  background-color: black;
  color: red;
  border: 1px solid white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 16pt;
  margin-bottom: 16px;
  
}
.explain-text {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}



/* Large screen */
@media (min-width: 992px) {
  .container-content {
    margin: 0px 150px;
  }
  .home-container .home-statement {
    position: absolute;
    bottom: 0px;
    width: 66vw;
    right: 0;
  }
}
/* Mobile screen */
@media only screen and (max-width: 600px) {
  .home-container, html .container-content {
    padding: 0;
    margin: 0;
  }
  .home-container .nav-text {
    height: 100vh;
  }
  html .art-work {
    padding: 0;
    margin: 0;
    scroll-snap-align: start;
  }
  .manifesto img {
    width: 85vw;
  }
}